.wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.description{
  padding-top: 20px;
  color:grey;
  font-size: 14px;
}
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  .wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

}
