.wrapper {
  margin-right: 30px;
  border-radius: 5px;
  margin-top: 20px;
  width: 212px;
  min-height: 260px;
  border: 1px solid #dedede;
  display: flex;
  flex-direction: column;
  align-items: center;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.description{
  color:grey;
  font-size: 12px;
  text-align: center;
}
.cart_img {
  width: 100%;
  height: 50%;
}
.cart_img img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.cart_caption {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  align-items: center;
}
.caption_status {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.active {
  background-color: green;
}
.not_active {
  background-color: red;
}
.caption_title {
  margin-top: 5px;
  font-size: 13px;
  color: grey;
}
.caption_name {
  font-size: 16px;
}
.link_block {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}
